*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #c5c0c0;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    width: 100%;
    height: 100px;
    background-color: #f2f2f2;
   
}
.text{
    position: absolute;
    font-size: 25px;
    right: 0;
    width: 100%;
    height: 90%;
    border-left: 4px solid black;
    background-color: rgb(224, 222, 218);
    transition: 3s all  ease;
}
 h1{
    text-align: center;
    font-size: 55px;
} 
.container:hover .text {
   width: 0%;
   right: 0;
}